*{
    margin: 0;
    padding: 0;
}

header{
    background-image: url(img/photo-1475754857078-5c15de17844c.jpg);
    background-size: cover;
    background-position: center;
    position: fixed;
    left:0;
    top:0;
    right: 0;
    height: 200px
}

header h2{
    color: rgb(255,255,255);
    font-family: 'ABeeZee';
    font-size: 2em;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    text-align: center;
    clear: both;
    position: absolute;
    top: 50%;
    width: 100%
}


header nav p{
    color: white;
    float: left;
    display: inline-block;
    margin: 1em;
    font-family: 'ABeeZee';
    border: solid white 3px;
    padding: 0.5em;
    background: rgba(255,255,255,0.1);

}

#underheader{
    margin-top: 200px;
}

.plaatje{
    padding-top: 2em;
    display: inline-block;
    background: #eee;
    width: 80%;
    text-align: center;
    margin-left:10%;
}

.plaatje img{
    box-shadow: 2px 1px 10px black;
}


body img{
    display: inline-block;
    height: 300px;
    margin: 20px;
    border: 20px solid #eee;
}

footer{
    text-align: center;
    margin: 2em;
}